#wp-vendor_shipping_policy-wrap, #wp-vendor_refund_policy-wrap, #wp-vendor_cancellation_policy-wrap {
  width: calc(100% - 225px);
  display: inline-block;
  vertical-align: top;
  margin: 12px 0; }
  
@media screen and (max-width: 1006px) {
  body #wp-vendor_shipping_policy-wrap, body #wp-vendor_refund_policy-wrap, body #wp-vendor_cancellation_policy-wrap {
    width: 100%; }
}